include LICENSE
recursive-include msmb_theme *.conf
recursive-include msmb_theme *.css
recursive-include msmb_theme *.html
recursive-include msmb_theme *.js
include setup.cfg
include versioneer.py
include msmb_theme/_version.py
